PRODUCT_NAME = clash-flux
PRODUCT_BUNDLE_IDENTIFIER = dev.farna.clashflux
MARKETING_VERSION = 0.2.13
CURRENT_PROJECT_VERSION = 75
IPHONEOS_DEPLOYMENT_TARGET = 15.0
TARGETED_DEVICE_FAMILY = 1,2
CODE_SIGN_STYLE = Automatic
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
CLANG_CXX_LANGUAGE_STANDARD = c++20
ENABLE_BITCODE = NO
ENABLE_USER_SCRIPT_SANDBOXING = NO

HUXERUI_PROJECT_ROOT = $(PROJECT_DIR)/../..
HUXERUI_HOME = $(PROJECT_DIR)/../../third_party/huxerui
HUXERUI_CORE_BUILD_DIR = $(PROJECT_DIR)/../../build/ios-simulator
HUXERUI_LINK_OPTIONS_FILE = $(HUXERUI_CORE_BUILD_DIR)/huxerui-ios/clash-flux/link.rsp
HEADER_SEARCH_PATHS = $(inherited) "$(HUXERUI_HOME)/include"
OTHER_LDFLAGS = $(inherited) @"$(HUXERUI_LINK_OPTIONS_FILE)"

#include? "Local.xcconfig"
